section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
table {
    border-spacing: 40px;
}

table th, table td {
    text-align: center;
}

.conv-btn {
    margin-bottom: 15px;
}