<button class="conv-btn" (click)="navigateToConverter()">Currency Converter</button>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (item of currencies; track $index) {
            <tr>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td><button (click)="navigateToRates(item.code)">Check Rates</button></td>
            </tr>
        }
    </tbody>
</table>