<app-bullet-point [title]="'Информация'" [info]="'Казвам се Георги Петков на 21 години'" [arrowIcon]="arrows[0]" (click)="onBulletPointClicked(0)"></app-bullet-point>
<app-bullet-point [title]="'Хоби'" [info]="'Разходки в планината'" [arrowIcon]="arrows[1]" (click)="onBulletPointClicked(1)"></app-bullet-point>
<app-bullet-point [title]="'Линк към канал'" [info]="'https://www.youtube.com/@Mrwhosetheboss'" [arrowIcon]="arrows[2]" (click)="onBulletPointClicked(2)"></app-bullet-point>
<app-bullet-point [title]="'Информация за канал'" [info]="'Това е много истински канал'" [arrowIcon]="arrows[3]" (click)="onBulletPointClicked(3)"></app-bullet-point>
<app-bullet-point [title]="'Остойностяване'" [info]="'1 000 000 лв'" [arrowIcon]="arrows[4]" (click)="onBulletPointClicked(4)"></app-bullet-point>