<app-bullet-point [title]="'Информация'" [info]="'Казвам се Георги Петков на 21 години'"></app-bullet-point>
<app-bullet-point [title]="'Хоби'" [info]="'Разходки в планината'"></app-bullet-point>
<app-bullet-point [title]="'Линк към канал'" [info]="'https://www.youtube.com/@Mrwhosetheboss'"></app-bullet-point>
<app-bullet-point [title]="'Информация за канал'" [info]="'Това е много истинки канал'"></app-bullet-point>
<app-bullet-point [title]="'Остойностяване'" [info]="'1 000 000 лв'"></app-bullet-point>