<div class="horizontal-light">
    <app-traffic-light [isHorizontal]="true" [light]="horizontalLight"></app-traffic-light>
</div>

<div class="vertical-traffic-lights-container">
    <app-traffic-light [isHorizontal]="false" [light]="verticalLight" [reversed]="true"></app-traffic-light>
    <app-traffic-light [isHorizontal]="false" [light]="verticalLight"></app-traffic-light>
</div>

<div class="horizontal-light">
    <app-traffic-light [isHorizontal]="true" [light]="horizontalLight" [reversed]="true"></app-traffic-light>
</div>